.logo {  
         margin-top: 50px;
         margin-left: auto;
         margin-right: auto;

         padding-bottom: 20px;
         border-bottom: 4px solid black;
  }

.link {  
         margin-top: 5px;
         margin-bottom: 50px;

         font-size: 18px;
         font-weight: 500;

         text-align: center; 
}

.link a:link {
         text-decoration: none;
         color: black;
}

.link a:hover {
         text-decoration: none;
         background: yellow;        
}

.link a:active {
         color:black;
}

.link a:visited {
         color: black;
}

.title {
        padding-top: 50px;
        font-size: 20px;
        
        text-align: center;
}

.collection {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.collection p {
        line-height: 22px;
}

.glink  {
        display: flex;
        flex-direction: column;
        text-align: left;

        line-height: 35px;
     
}

.collection img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid black;
} 

.glink a:hover {
        background: yellow;        
}

.glink img:hover {
        width: 200px;
        opacity: 0.5;
        background-color:  yellow;
}

.glink a:link {
        text-decoration: none;
        color: black;
}


.glink a:visited {
        color: black;
}

.productdetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.productdetail img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1.5px solid black;

}

select { 
        width: 15em;
        margin-bottom: 30px;
}

.selection p {
        line-height: 22px;
}

.bcart {
        margin-left: 50px;
}

button:hover{
        background-color: yellow;
}

.cartcollection {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.cartcollection img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid black;
} 

.clink {
        text-align: center;
        line-height: 22px;
}

.cart {
        font-size: 20px;
        margin-top: 10px;
}

.price {
        font-size: 25px;
        margin-top: 30px;
}

.line { 
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid black;
        width: 1000px;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;

        font-size: 20px;
}