.logo {  
         margin-top: 50px;
         margin-left: auto;
         margin-right: auto;

         padding-bottom: 20px;
         border-bottom: 4px solid black;
  }

.link {  
         margin-top: 5px;
         margin-bottom: 50px;

         font-size: 18px;
         font-weight: 500;

         text-align: center; 
}

.link a:link {
         text-decoration: none;
         color: black;
}
.link a:hover {
         text-decoration: none;
         background: yellow;        
}
.link a:active {
         color:black;
}

.link a:visited {
         color: black;
}

.title {
        padding-top: 50px;
        font-size: 20px;
        
        text-align: center;
}

.collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 20px;
}


.collection img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid black;
} 

.productdetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.productdetail img {
        display: block;
        margin-left: auto;
        margin-right: auto;

}

select { 
        width: 15em;
}