.logo {  
         margin-top: 50px;
         margin-left: auto;
         margin-right: auto;

         padding-bottom: 20px;
         border-bottom: 4px solid black;
  }

.link {  
         margin-top: 5px;
         margin-bottom: 50px;

         font-size: 18px;
         font-weight: 500;

         text-align: center; 
}

.link a:link {
         text-decoration: none;
         color: black;
}

.link a:hover {
         text-decoration: none;
         background: yellow;        
}

.link a:active {
         color:black;
}

.link a:visited {
         color: black;
}

.title {
        padding-top: 50px;
        font-size: 20px;
        
        text-align: center;
}

.collection {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.collection p {
        line-height: 22px;
}

.glink {
        line-height: 35px;

        text-align: left;
}

.collection img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid black;
} 


.glink a:hover {
        background-color: yellow;        
}


.glink img:hover {
        opacity: 0.5;
        background: yellow;
}


.glink a:link {
        text-decoration: none;
        color: black;
}


.glink a:visited {
        color: black;
}


.productdetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.productdetail img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1.5px solid black;

}


select { 
        width: 15em;
        margin-bottom: 30px;
}


.selection p {
        line-height: 22px;
}

button {
        margin-left: 50px;
}
button:hover{
        background-color: yellow;
}